* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.popup-container {
  padding: 15px;
  width: 500px;
  min-height: 300px;
  color: #333;
  font-size: 16px;

  p {
    margin-bottom: 15px;
  }

  textarea {
    padding: 5px;
    width: 100%;
    font-size: 16px;
    resize: none;
  }

  a {
    color: #0681d0;
    text-decoration: none;
    outline: 0;
    cursor: pointer;

    &:hover {
      color: #056bad;
    }
  }
}
