* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-size: 14px;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  font-style: normal;
}

.popup-container {
  padding: 15px;
  width: 360px;
  color: #333;

  & > div {
    margin-bottom: 15px;
  }

  .flex1 {
    flex: 1;
  }

  .space-between {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  .popup-title {
    border-bottom: 1px solid #eee;
    padding-bottom: 10px;
    text-align: left;
  }

  .shortcut {
    color: #aaa;
    word-spacing: 4px;
  }

  textarea {
    padding: 5px;
    width: 100%;
    line-height: 1.6;
    resize: none;
    outline: 0;
    border-color: #eee;
  }

  .popup-footer {
    margin: 40px 0 0 0;
    color: #bbb;
    border-top: 1px solid #eee;

    p {
      justify-content: space-around;
      margin: 0;
      padding-top: 10px;
    }

    a {
      color: #1890FF;
      text-decoration: none;
      outline: 0;
      cursor: pointer;

      &:hover {
        color: #40A9FF;
      }

      &:active {
        color: #096dd9;
      }
    }
  }
}
