* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.popup-container {
  padding: 15px;
  width: 500px;
  height: 300px;
  color: #333;
  font-size: 16px;

  p{
    margin-bottom: 10px;
  }

  textarea {
    padding: 5px;
    width: 100%;
    font-size: 16px;
    resize: none;
  }
}
