.toc-container .toc-head {
  display: flex;
  align-items: center;
  border-bottom: .5px solid #e4e6eb;

  .toc-title {
    flex: 1;
    padding-left: 15px;
    font-weight: bold;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
  }

  .toc-collapse-icon {
    padding: 12px;
    line-height: 0;
    fill: var(--onetoc-color);
    cursor: pointer;

    &:hover {
      fill: #007fff;
    }
  }
}
