.toc-container .toc-expand-icon {
  width: 48px;
  height: 48px;
  display: flex;
  align-items: center;
  justify-content: center;
  fill: var(--onetoc-color);
  border-radius: 50%;
  box-shadow: 0 2px 10px rgb(0 0 0 / 5%);
  background: var(--onetoc-bg-color);
  backdrop-filter: var(--onetoc-bg-filter);
  cursor: pointer;

  &:hover {
    fill: #007fff;
  }
}
