.toc-root {
  position: fixed;
  z-index: 999999;
}

.toc-container {
  &, * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    line-height: 1.15;
  }

  position: fixed;
  right: 20px;
  font-size: 14px;
  z-index: 999999;

  &.toc-expanded {
    display: flex;
    flex-direction: column;
    width: 260px;
    border-radius: 5px;
    background: #fff;
    box-shadow: 0 0 2px 0 #ccc;
  }
}
